/*

p {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: #ecf0f1;
	font-family: "Cherry Swash", cursive;
	font-size: 16px;
}

/*


/*TABS*/

html, body 
{
  height: 100%;
  overflow: hidden;
  
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
}

.main{
	height: 100%;
}

label, a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  border-bottom: 5px solid rgba(142, 68, 173, 0.2);
  padding: 3px 2px;
}
label:hover{
  border-bottom-color: #9b59b6;
}

.layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 10fr 10fr;
}

input[type=radio] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #1abc9c;
  background: #34495e;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
}
input[type=radio]:checked + .page + label.nav {
  background: #1abc9c;
  color: #ffffff;
  padding-left: 20px;
}
input[type=radio]:checked + .page + label.nav span {
  padding-left: 20px;
}
input[type=radio]:checked + .page + label.nav svg {
  opacity: 1;
}
label.nav span {
  padding-left: 0px;
  position: relative;
  color: white;
}
label.nav svg {
  left: 0;
  top: -3px;
  position: absolute;
  width: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  display: flex;
  align-items: center;
}

.page-contents > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}

.page-contents > *:nth-child(1) {
  transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
  transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
  transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
  transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
  transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
  transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
  transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
  transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
  transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
  transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
  transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
  transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
  transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
  transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
  transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
  transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
  transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
  transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
  transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
  transition-delay: 4.2s;
}

input[type=radio] + .page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type=radio]:checked + .page {
  transform: translateX(0%);
}
input[type=radio]:checked + .page .page-contents > * {
  opacity: 1;
  transform: translateY(0px);
}

.page-contents {
  max-width: 100%;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}
























h1 {
	text-align: center;
	margin: 20px 0 20px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	
}

h2 {
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
  text-align: center;

}

p {
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
}

span 
{
	color: #2bd6b4;
}

.bottone-aggiunta{
	margin-left: 100px;
  margin-top: 30px;
}

.bottone-modifica{
  display: flex;
  flex-direction: row;
  margin-left: 10px;

  
}
.bottone-elimina{
  margin-left: 100px;
  margin-top: 30px;
}
.bottone-esci{
  margin-left: 100px;
  margin-top: 30px;
}
.contenuto-bottoni
{
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  

}











/*BUTTONS LIBRI*/
.button-27 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  /* margin: 0; */
  /* min-height: 0; */
  min-width: 0;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  /* user-select: none; */
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  height: 10vh;
  /* width: 1vw; */
  /* margin-top: 2vh; */
  scroll-behavior: smooth;
}



.button-27:disabled 
{
  pointer-events: none;
}

.button-27:hover
 {
  color: #fff;
  background-color: #2bd6b4;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border :#2bd6b4
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* .button-28 {
  appearance: none;
  background-color: transparent;
  border-bottom: 2px solid #1A1A1A;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  /* box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  /* margin: 0; */
  /* min-height: 0;
  min-width: 0;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  /* user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  height: 5vh;
  width: 4vw;
  /* margin-top: 2vh;
}

.button-28:disabled 
{
  pointer-events: none;
}

.button-28:hover
 {
  color: #fff;
  background-color: #2bd6b4;
  box-shadow: rgba(0, 0, 0, 0.25) 0 10px 15px;
  transform: translateY(-10px);
  border :#2bd6b4
}

.button-28:active
 {
  box-shadow: none;
  transform: translateY(0);
}

.index
{
  height: 80vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* min-height: 0;
}

.index::-webkit-scrollbar
{
  display: none;
} */




























/* BARRA DI RICERCA + CONTENUTO PAGINA */
.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
  margin: 20px;
}
.lf--input:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.01);
}

.contenuto-pagina{
  width: 100%;
  height: 100%;

}
.pos-search{
  width: 30%;
  margin: auto;
  margin-top: 20px;

  
}
.search{
  display: flex;
 
}

.lf--submit {
  display: block;
  padding: 0.1em;
  margin: 20px;
  width: 10%;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.lf--submit:focus {
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.1);
}

.contenuto-admin{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}





/* 
TABELLA */
.scroll-table{
  width: 75%;
}
.scroll-table-body {
  height: 700px;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	/* font-weight:bold; */
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #1abc9c;
	font-size: 14px;
  color: white;
	
}
.scroll-table tbody td {
	text-align: left;
	padding: 11px 16px;
	font-size: 14px;
	vertical-align: top;
  color: white;
  border: 1px solid #1abc9c;
}
.scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
}
 
/* Scroll styles */
::-webkit-scrollbar {
	width: 6px;
} 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}