/*






p {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: #ecf0f1;
	font-family: "Cherry Swash", cursive;
	font-size: 16px;
}


/*










/*TABS*/

html, body 
{
  height: 100%;
  overflow: hidden;
  
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
}

.main{
	height: 100%;
}

label, a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  border-bottom: 5px solid rgba(142, 68, 173, 0.2);
  padding: 3px 2px;
}
label:hover{
  border-bottom-color: #9b59b6;
}

.layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

input[type=radio] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #1abc9c;
  background: #34495e;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
}
input[type=radio]:checked + .page + label.nav {
  background: #1abc9c;
  color: #ffffff;
  padding-left: 20px;
}
input[type=radio]:checked + .page + label.nav span {
  padding-left: 20px;
}
input[type=radio]:checked + .page + label.nav svg {
  opacity: 1;
}
label.nav span {
  padding-left: 0px;
  position: relative;
  color: white;
}
label.nav svg {
  left: 0;
  top: -3px;
  position: absolute;
  width: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  display: flex;
  align-items: center;
}

.page-contents > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}

.page-contents > *:nth-child(1) {
  transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
  transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
  transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
  transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
  transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
  transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
  transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
  transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
  transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
  transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
  transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
  transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
  transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
  transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
  transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
  transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
  transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
  transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
  transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
  transition-delay: 4.2s;
}

input[type=radio] + .page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type=radio]:checked + .page {
  transform: translateX(0%);
}
input[type=radio]:checked + .page .page-contents > * {
  opacity: 1;
  transform: translateY(0px);
}

.page-contents {
  max-width: 100%;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}



.navbar{
	margin: 20px 0 20px;
}

nav {
	margin: 20px auto 0;
	position: relative;
	width: 322px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all 0.5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-libri,
a:nth-child(2):hover ~ .animation {
	width: 110px;
	left: 100px;
	background-color: #1abc9c;
}
nav .start-prestito,
a:nth-child(3):hover ~ .animation {
	width: 100px;
	left: 222px;
	background-color: #1abc9c;
}


h1 {
	text-align: center;
	margin: 20px 0 20px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
	
}

h2 {
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
  text-align: center;

}

p {
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: sans-serif;
}

span 
{
	color: #2bd6b4;
}

.bottone-aggiunta{
	display: flex;
	justify-content: center;
	align-items: center;
}


/*BUTTONS LIBRI*/
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  /* margin: 0; */
  /* min-height: 0; */
  min-width: 0;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  /* user-select: none; */
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  height: 10vh;
  /* width: 1vw; */
  /* margin-top: 2vh; */
  scroll-behavior: smooth;
}

.button-28:disabled 
{
  pointer-events: none;
}

.button-28:hover
 {
  color: #fff;
  background-color: #2bd6b4;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border :#2bd6b4
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.index
{
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  /* min-height: 0; */
}

.index::-webkit-scrollbar
{
  display: none;
}


/** SLIDESHOW **/



.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
 /*Not sure why I needed this fix*/
  width: 50%;
  height: 85%;
  margin-left: 150px;
  z-index: 0;
}

.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61IljYs0TzL.jpg");
}
.slideshow li:nth-child(2) span {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/91sJm25RjuL.jpg");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/91SHfGDkeKS.jpg");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/619328CGieL.jpg");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("https://www.nuovojava.it/assets/img/cover.jpg");
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}


