body
{
    background: linear-gradient(135deg, rgba(36, 46, 77, 0.9), rgba(137, 126, 121, 0.9));
    color : white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
body::-webkit-scrollbar
{
  display: none;
}

.page
{
    display: flex;
    flex-direction: row;
    border: 3px solid #1abc9c;
    border-radius: 20px;
    width: 90vw;
    height: 90vh;
    margin: auto;
}
.immagine
{
    position: relative;
    border-radius: 20px;
    width: 18vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:auto;
    margin-bottom: auto;
}

.left
{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.right
{
    display: flex;
    flex-direction: column;
    margin :auto;
}
.Titolo
{
    text-align: center;
    margin-top:auto;
}

.descrizione
{
    margin-bottom:auto;
    max-width: 40vw;
}
.interactions
{
    display:flex;
    margin-top: 20vh;
    margin-left: auto;
    margin-right:auto;
}
.button-28 {
    appearance: none;
    background-color: transparent;
    border-bottom: 2px solid #1A1A1A;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    /* box-sizing: border-box; */
    color: white;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    /* margin: 0; */
    /* min-height: 0; */
    min-width: 0;
    outline: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    /* user-select: none; */
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    height: 5vh;
    width: 4vw;
    /* margin-top: 2vh; */
  }
  
  .button-28:disabled 
  {
    pointer-events: none;
  }
  
  .button-28:hover
   {
    color: #fff;
    background-color: #2bd6b4;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 15px;
    transform: translateY(-10px);
    border :#2bd6b4
  }
  
  .button-28:active
   {
    box-shadow: none;
    transform: translateY(0);
  }

